
:root {
    --dark-bg-colour: #1F2937;
    --btn-colour: #3882F6;
    --light-text-colour: #E5E7EB;
    --light-colour: #F9FAF8;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Hero section */

.container_width {
    width: 1500px;
    margin: auto;
}

.hero_section {
    background-color: var(--dark-bg-colour);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

nav {
    margin-top: 2rem;
}

.navbar a {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--light-text-colour);
}

.logo img {
    width: 80px;
    height: auto;
}

nav {
    display: flex;
    justify-items: space-around;
    gap: 20px;
    padding-right: 20px;
}

.hero_content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 5rem;
    margin-top: 5rem;
}

.hero_text {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero_text h1 {
    font-size: 48px;
    color: var(--light-colour);
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.hero_text p {
    font-size: 18px;
    color: var(--light-text-colour);
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.hero_text button {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    padding: 8px 16px;
    background-color: var(--btn-colour);
    border-radius: 10px;
    color: var(--light-text-colour);
    border: none;
    cursor: pointer;
}

.hero_image img {
    width: 500px;
    height: auto;
}



/* Key information section */

.information_section {
    margin: 5rem 0;
}

.information_section h2 {
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    color: var(--dark-bg-colour);
}

.info_container_main {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.info_container {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info_image {
    height: 200px;
    border: 3px solid var(--btn-colour);
    border-radius: 10px;
}

.info_container p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}


/* Quote section */

.quote_section {
    background-color: var(--light-text-colour);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.quote_text {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
}

.quote_author {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}


/* CTA section */

.cta_section {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta_container {
    height: 200px;
    background-color: var(--btn-colour);
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.cta_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.cta_text h3 {
    color: var(--light-text-colour);
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.cta_text p {
    color: var(--light-text-colour);
}

.cta_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta_button button {
    width: 150px;
    padding: 8px 16px;
    background-color: var(--btn-colour);
    border: 2px solid var(--light-text-colour);
    border-radius: 10px;
    color: var(--light-text-colour);
    font-family: 'Roboto', sans-serif;
}


/* Footer */

footer {
    height: 130px;
    background-color: var(--dark-bg-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h4 {
    color: var(--light-text-colour);
    font-family: 'Roboto', sans-serif;
}